html {
	}
body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.88889;
	color: #000000;
	background: #fff;
	margin: 0;
	padding: 0;
	}
	code {
		font: 135% courier, sans-serif;
		color: #555753;
	}
	p {
		margin-top: 0;
		text-align: center;
		}
	h1 {
		font-weight: bold;
		color: #E62E00;
		}
	h3 {
		letter-spacing: 1px;
		margin-bottom: 0;
		color: #7D775C;
		}
	a:link {
		font-weight: bold;
		text-decoration: none;
		color: #006DB1;
		}
	a:visited {
		font-weight: bold;
		text-decoration: none;
		color: #006DB1;
		}
	a:hover, a:focus, a:active {
		text-decoration: underline;
		color: #3399cc;
		}
	abbr {
		border-bottom: none;
		}


	header h1 {
		background: transparent url(h1.gif) no-repeat top left;
		margin-top: 10px;
		display: block;
		width: 219px;
		height: 87px;
		float: left;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		}
	header h2 {
		background: transparent url(h2.gif) no-repeat top left;
		margin-top: 58px;
		margin-bottom: 40px;
		width: 200px;
		height: 18px;
		float: right;

		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		}
	/*aurlib style */

	/**** New Branding Style ****/
	.header-style{
		color: #fff;
		background-color:#000000;
		padding:10px;
	}
	.login-content-main, .footer-content{
		padding:1em;
	}
	@media (min-width: 1160px) {
	.login-content-main {
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
}
	.globalnav, .footer-bar{
		width:100%;
		background-color:#cfb87c;
		text-align:right;
		border-bottom:#fff solid 1px;
		font-size:80%;
	}
	.myaccountstyle{
		width:auto;
		float:left;
		padding-right:1em;
		padding-left:2em;
		margin-top:1em;
		margin-left:2em;
		background:url(myaccount-icon.png) no-repeat;
	}

	ul.listmenu {margin-top: 0;}
	.listmenu li{
		display:inline-block;
		list-style:none;
		padding-right:1em;
		padding-left:1em;
		padding-top:1em;
		margin:0px;

	}
	.listmenu li a,
	.listmenu li a:visited,
	.myaccountstyle a{
		color:#fff;
		text-decoration:none;
	}

/* Intro help text */
	.content-help {
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
	.content-help h1 {
		font-size: 1.2em;
		font-weight: bold;
		color: black;
		text-align: center;
	}
	.content-help span {
		font-weight: normal;
		font-size: 1em;
	}
	@media (max-width: 680px) {
		.content-help h1 {
			font-size: initial;
			text-align: left;
		}
	}

/* login box */
	.content-login {
		background-color: transparent;
		padding: 0;
		width: 100%;
		margin-bottom: 3em;
		margin-left: auto;
		margin-right: auto;
	}
	.content-login p {
		background-color: #fff;
		padding: 0.7em;
		border-bottom: solid 5px #f3f3f3;
		text-align: left;
	}
	.content-login p:first-child {
		background-color: transparent;
		padding: 0;
		text-align: left;
		border-bottom: none;
	}
	.content-login p:first-child:hover {
		cursor: default;
	}
	.content-login p:last-child {
		margin-bottom: 0;
	}
	.content-login p:hover {
		cursor: pointer;
	}
	@media (min-width: 680px) {
		.content-login {
			width: 570px;
			padding: 2.5em;
			background-color: #f3f3f3;
		}
		.content-login p {
			text-align: center;
		}
	}
/* login form */
	.content-login form {
		margin-bottom: 0;
		text-align: center;
	}
	@media (max-width: 680px) {
		.content-login form {
			text-align: left;
		}
	}
	.content-login input {
		margin: 0 0 1.05263rem;
		padding: 0.52632rem;
		font-size: 0.8rem;
	}
	.content-login input[type="submit"] {
		cursor: pointer;
		background-color: #3399cc;
		color: white;
		border: medium none;
		padding: 0.8rem;
		min-width: 80px;
	}
/* small help text */
	.highlight {
		border: medium none;
		font-size: 0.95em;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		margin-bottom: 2rem;
	}
	@media (min-width: 680px) {
		.highlight {
			border: 1px solid #f3f3f3;
			padding: 1.5em;
			width: 80%;
			text-align: center;
		}
	}
/* footer content */
	.footer-content {
		font-size: 80%;
	}

	.footer-content p {
		text-align: center;
	}
